<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @recipe.name %></h1>
    <label>Ingredients</label>
    <p><%= @recipe.ingredients %></p>
    <label>Instructions</label>
    <p><%= @recipe.instructions %></p>
    <label>Owner</label>
    <p><%= @recipe.owner.name %></p>
    <label>Users</label>
    <% @recipe.users.each do |user| %>
    <p><%= user.name %></p>
    <% end %>


  </body>
</html>
