
<h1> Your Profile Page: <%=@user.name%></h1>

<h3> Your Recipes </h3>
<ul>
  <%@user.owned_recipes.each do |recipe|%>
    <li><%=link_to recipe.name, recipe_path(recipe)%></li>
  <%end%>
</ul>
<h3> Recipes </h3>
<ul>
  <%@user.recipes.each do |recipe|%>
    <li><%=link_to recipe.name, recipe_path(recipe)%></li>
  <%end%>
</ul>
<h2> Dinners <h2>
  <% if @created_dinners %>
    <h4> My Dinners </h4>
    <ul>
      <%@created_dinners.each do |dinner|%>
        <li>
          <%=link_to dinner.name, dinner_path(dinner)%>
          <%=form_for @course do |f|%>
            <%=f.hidden_field :dinner_id, :value=>dinner.id %>
            <%=f.collection_select :userrecipe_id, @user.userrecipes, :id, :recipe_name%>
            <%=f.select :course_type, Recipe.course_type%>
            <%=f.submit 'Add Course'%>
          <%end%>
          <%=form_for @drink do |f|%>
            <%=f.hidden_field :dinner_id, :value=>dinner.id %>
            <%=f.hidden_field :user_id, :value=>@user.id%>
            <%=f.select :drink_type, Drink.drink_designations%>
            <%=f.select :quantity, 1..10%>
            <%=f.submit 'Add Drink'%>
          <%end%>
        </li>
      <%end%>
    </ul>
  <% end %>
  <% if @invited_dinners %>
    <h4>Pending Invites:</h4>
      <ul>
        <%@invited_dinners.each do |invite| %>
          <li>
            <%=link_to invite.dinner.name, dinner_path(invite.dinner)%>
            <%= button_to("Accept Invite", invite_accept_path(invite), method: :put) %>
            <%= button_to("Reject Invite", invite_reject_path(invite), method: :put) %>
          </li>
        <%end%>
      </ul>
  <% end %>

  <% if @accepted_dinners %>
   <h4>Accepted Dinners:</h4>
   <h5>  Upcoming Dinners:</h5>
   <ul>
     <%@accepted_dinners.each do |accepted| %>
     <% if accepted.dinner.date > Time.now%>
       <li>

          <%=link_to accepted.dinner.name, dinner_path(accepted.dinner)%>
             <%=form_for @course do |f|%>
               <%=f.hidden_field :dinner_id, :value=>accepted.dinner.id %>
               <%=f.collection_select :userrecipe_id, @user.userrecipes, :id, :recipe_name%>
               <%=f.select :course_type, Recipe.course_type%>
               <%=f.submit 'Add Course'%>
             <%end%>
           <%=form_for @drink do |f|%>
             <%=f.hidden_field :dinner_id, :value=>accepted.dinner.id %>
             <%=f.hidden_field :user_id, :value=>@user.id%>
             <%=f.select :drink_type, Drink.drink_designations%>
             <%=f.select :quantity, 1..10%>
             <%=f.submit 'Add Drink'%>
             <%end%>
       <% end %>
       </li>
     <%end%>
   </ul>

    <h5>  Past Dinners:</h5>
     <ul>
       <%@accepted_dinners.each do |accepted| %>
           <% if accepted.dinner.date < Time.now%>
         <li>
             <%=link_to accepted.dinner.name, dinner_path(accepted.dinner)%>
         <% end %>

        </li>
       <%end%>
 <% end %>
 </ul>

<%= button_to("New Recipe", new_user_recipe_path(@user), method: :get) %>
<%= button_to("Logout", logout_path, method: :delete)%>
<%= button_to('Create a Dinner Plan', new_dinner_path, method: :get)%>
