<header>
<h1> Your Profile Page: <%=@user.name%></h1>
</header>
<body>
<div class="columns">
    <div class="column">
 <h4> Your recipes </h4>
  <ul>
    <%@user.owned_recipes.each do |recipe|%>
      <li><%=link_to recipe.name, recipe_path(recipe)%></li>
    <%end%>
  </ul>
  <h4> Recipes </h4>
  <ul>
    <%@user.recipes.each do |recipe|%>
      <li><%=link_to recipe.name, recipe_path(recipe)%></li>
    <%end%>
  </ul>
  <%= button_to("New Recipe", new_user_recipe_path(@user), method: :get) %>
</div>
  <div class="column">
  <% if @created_dinners %>
     <h4> My Dinners </h4>
    <ul>
      <%@created_dinners.each do |dinner|%>
        <li>
          <%=link_to dinner.name, dinner_path(dinner)%>
          <% if dinner.upcoming? %>
          <%=form_for @course do |f|%>
            <%=f.hidden_field :dinner_id, :value=>dinner.id %>
            <div class="field">
            <div class="control">
              <div class="select is-success">
            <%=f.collection_select :userrecipe_id, @user.userrecipes, :id, :recipe_name%>
          </div>
        </div>
      </div>
        <div class="field">
        <div class="control">
          <div class="select is-success">
            <%=f.select :course_type, Recipe.course_type%>
        </div>
      </div>
    </div>
            <%=f.submit 'Add Course'%>
          <%end%>
          <%=form_for @drink do |f|%>
            <%=f.hidden_field :dinner_id, :value=>dinner.id %>
            <%=f.hidden_field :user_id, :value=>@user.id%>
            <div class="field">
            <div class="control">
              <div class="select is-success">
            <%=f.select :drink_type, Drink.drink_designations%>
              </div>
            </div>
          </div>
          <div class="field">
          <div class="control">
            <div class="select is-success">
            <%=f.select :quantity, 1..10%>
              </div>
            </div>
          </div>
            <%=f.submit 'Add Drink'%>
          <%end%>

          <%end %>
        </li>
      <%end%>
    </ul>
  <% end %>
  <% if @invited_dinners  %>
     <h4> Pending Invites </h4>
      <ul>
        <%@invited_dinners.each do |invite| %>
          <li>
            <%=link_to invite.dinner.name, dinner_path(invite.dinner)%>
            <%= button_to("Accept Invite", invite_accept_path(invite), method: :put) %>
            <%= button_to("Reject Invite", invite_reject_path(invite), method: :put) %>
          </li>
        <%end%>
      </ul>
  <% end %>

  <% if @accepted_dinners %>
  <h4> Accepted Dinners </h4>
    <h4> Upcoming Dinners </h4>
   <ul>
     <%@accepted_dinners.each do |accepted| %>
     <% if accepted.dinner.upcoming? && accepted.dinner.host != @user%>
       <li>
          <%=link_to accepted.dinner.name, dinner_path(accepted.dinner)%>
             <%=form_for @course do |f|%>
               <%=f.hidden_field :dinner_id, :value=>accepted.dinner.id %>
               <div class="field">
               <div class="control">
               <div class="select is-success">
               <%=f.collection_select :userrecipe_id, @user.userrecipes, :id, :recipe_name%>
               </div>
               </div>
               </div>
               <div class="field">
               <div class="control">
               <div class="select is-success">
               <%=f.select :course_type, Recipe.course_type%>
               </div>
               </div>
               </div>
               <%=f.submit 'Add Course'%>
             <%end%>
           <%=form_for @drink do |f|%>
             <%=f.hidden_field :dinner_id, :value=>accepted.dinner.id %>
             <%=f.hidden_field :user_id, :value=>@user.id%>
             <div class="field">
             <div class="control">
             <div class="select is-success">
               <%=f.select :drink_type, Drink.drink_designations%>
             </div>
             </div>
             </div>
             <div class="field">
             <div class="control">
             <div class="select is-success">
               <%=f.select :quantity, 1..10%>
             </div>
             </div>
             </div>
             <%=f.submit 'Add Drink'%>
             <%end%>
       <% end %>
       </li>
     <%end%>
   </ul>

     <h4> Past Dinners </h4>
     <ul>
       <%@accepted_dinners.each do |accepted| %>
           <% if accepted.dinner.upcoming? == false && accepted.dinner.host != @user%>
         <li>
             <%=link_to accepted.dinner.name, dinner_path(accepted.dinner)%>
         <% end %>

        </li>
       <%end%>
 <% end %>
 </ul>
 <%= button_to('Create a Dinner Plan', new_dinner_path, method: :get)%>
 </div>
 </div>
</body>
