<%if @user.errors.any? %>
  <ul>
    <%@user.errors.full_messages.each do |msg|%>
      <li><%=msg%></li>
    <%end%>
  </ul>
<%end%>
<h1> Create a New User</h1>
<%= form_for :user, url: '/users' do |f| %>
  Name: <%= f.text_field :name %>
  Username: <%= f.text_field :username %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>

  <%= f.submit "Submit" %>

<%end%>
