<h2>Edit The Details of This Dinner Party</h2><br><br>
<%= form_for @dinner do |j| %>
<%= j.hidden_field :host_id, :value=> get_user_id %>
<%= j.label :name %>
<%= j.text_field :name %>
<%= j.label :location %>
<%= j.text_field :location%>
<%= j.label :date %>
<%= j.datetime_field :date%>
<%= j.label :attire %>
<%= j.text_field :attire%>
<br>


<br>
<%=j.submit %>
<% end %>
