
<h1>Create a New Dinner Party</h1><br><br>
<%if @dinner.errors.any? %>
  <ul>
    <%@dinner.errors.full_messages.each do |msg|%>
      <li><%=msg%></li>
    <%end%>
  </ul>
<%end%>
<div class="field">
<%= form_for @dinner do |j| %>
<%= j.hidden_field :host_id, :value=> get_user_id %>
<%= j.label :name %>
<%= j.text_field :name %>
<%= j.label :location %>
<%= j.text_field :location %>
<%= j.label :date %>
<%= j.datetime_field :date %>
<%= j.label :attire %>
<%= j.text_field :attire %>
<br>
<br>
<%= j.collection_check_boxes :user_ids, @other_users, :id, :name %>
<button type="button" id="check_all">
    Check / Uncheck All
</button>
<br>

<br>
<%=j.submit %>
<% end %>
</div>


<script type='text/javascript'>
    $('#check_all').on("click", function(){ $('input[type="checkbox"]').click(); });
</script>
