<h1><%= @dinner.name %></h1>
<p><%= @dinner.date.strftime("%A %B %d, %Y at %l:%M %p")%>


<p>Location: <%= @dinner.location%></p>
<p>Attire: <%= @dinner.attire%></p>
<p>Host: <%= @dinner.host.name%></p>

<% if @user.id == @dinner.host_id && @dinner.upcoming?%>
  <%= button_to("Edit Dinner Party", edit_dinner_path(@dinner), method: :get)%>
  <%= button_to("Cancel Dinner Party", dinner_path(@dinner), method: :delete, data: { confirm: "Are you sure you want to cancel this dinner?" })%>
<% end %>

<h3>Courses: <%= @dinner.courses.count %></h3>
<ul>
<%@dinner.courses.each do |course| %>
  <li>
    <%=course.userrecipe.user_name%> is bringing <%=link_to course.recipe_name, recipe_path(course.recipe)%> as a <%=course.course_type%>
    <%if test_ownership(course, @user, @dinner)%>
      <%=button_to 'Delete your course!', "/courses/#{course.id}", method: :delete, class: "delete_button"%>
    <%end%>
  </li>
<%end%>
</ul>
<%if @user.has_drink_course_privalege(@dinner)%>
  <%=form_for @course do |f|%>
    <%=f.hidden_field :dinner_id, :value=>@dinner.id %>
    <%=f.collection_select :userrecipe_id, @user.userrecipes, :id, :recipe_name%>
    <%=f.select :course_type, Recipe.course_type%>
    <%=f.submit 'Add Course'%>
  <%end%>
<%end%>
<h3> Drinks: </h3>
<ul>
  <%@dinner.drinks.each do |drink|%>
  <li>
    <%=drink.user.name%> is bringing <%=drink.quantity.to_s%> <%if drink.quantity > 1 %> bottles <%else%>bottle <%end%> of <%=drink.drink_type%>.
    <%if test_ownership(drink, @user, @dinner)%>
      <%=button_to 'Delete your drink!', "/drinks/#{drink.id}", method: :delete, class: "delete_button"%>
    <%end%>
  </li>
  <%end%>
</ul>
<%if @user.has_drink_course_privalege(@dinner)%>
  <%=form_for @drink do |f|%>
    <%=f.hidden_field :dinner_id, :value=>@dinner.id %>
    <%=f.hidden_field :user_id, :value=>@user.id%>
    <%=f.select :drink_type, Drink.drink_designations%>
    <%=f.select :quantity, 1..10%>
    <%=f.submit 'Add Drink'%>
  <%end%>
<%end%>
<h3>Invites: <%= @dinner.invites.count %></h3>
<% if @user.id == @dinner.host_id && @dinner.upcoming? %>
  <%= form_for @invite do |f| %>
    <%= f.collection_select :user_id, @uninvited, :id, :name %>
    <%= f.hidden_field :dinner_id, value: @dinner.id %>
    <%= f.submit "Invite" %>
  <% end %>
  <br>
<% end %>
Attending: <%= @dinner.accepted_invitations.count %>
  <ul>
  <%@dinner.accepted_invitations.each do |invite|%>
    <li><%=invite.user.name%></li>
  <%end%>
  </ul>
Pending: <%= @dinner.pending_invitations.count %>
  <ul>
  <%@dinner.pending_invitations.each do |invite|%>
    <li><%=invite.user.name%></li>
  <%end%>
  </ul>
Declined: <%= @dinner.declined_invitations.count %>
  <ul>
    <%@dinner.declined_invitations.each do |invite|%>
      <li><%=invite.user.name%></li>
    <%end%>
  </ul>


  <%= render "commentviewer" %>
