<h1><%= @dinner.name %></h1>
<p><%= @dinner.date.strftime("%A")%>, <%= @dinner.date.strftime("%B")%> <%= @dinner.date.strftime("%d")%> <%= @dinner.date.strftime("%Y")%></p>

<p>Location: <%= @dinner.location%></p>
<p>Attire: <%= @dinner.attire%></p>
<p>Host: <%= @dinner.host.name%></p>

<h3>Courses: <%= @dinner.courses.count %></h3>
<br>
<%=form_for @course do |f|%>
  <%=f.hidden_field :dinner_id, :value=>@dinner.id %>
  <%=f.collection_select :userrecipe_id, @user.userrecipes, :id, :recipe_name%>
  <%=f.select :course_type, Recipe.course_type%>
  <%=f.submit 'Add Course'%>
<%end%>
<ul>
<%@dinner.courses.each do |course| %>
  <li>
    <%=course.userrecipe.user_name%> is bringing <%=link_to course.recipe_name, recipe_path(course.recipe)%> which is a <%=course.course_type%> course!
    <%if course.user.id == session[:user_id]%>
      <%=button_to 'Delete your course!', "/courses/#{course.id}", method: :delete, class: "delete_button"%>
    <%end%>
  </li>
<%end%>
</ul>
<h3> Drinks: </h3>

  <%=form_for @drink do |f|%>
    <%=f.hidden_field :dinner_id, :value=>@dinner.id %>
    <%=f.hidden_field :user_id, :value=>@user.id%>
    <%=f.select :drink_type, Drink.drink_designations%>
    <%=f.select :quantity, 1..10%>
    <%=f.submit 'Add Drink'%>
  <%end%>
<ul>

  <%@dinner.drinks.each do |drink|%>
  <li>
    <%=drink.user.name%> is bringing <%=drink.quantity.to_s%> <%if drink.quantity > 1 %> bottles <%else%>bottle <%end%> of <%=drink.drink_type%>.
    <%if drink.user.id == session[:user_id]%>
      <%=button_to 'Delete your drink!', "/drinks/#{drink.id}", method: :delete, class: "delete_button"%>
    <%end%>
  </li>
  <%end%>
</ul>
<h3>Invites: <%= @dinner.invites.count %></h3>
Declined: <%= @dinner.declined_invitations.count %>
<ul>
  <%@dinner.declined_invitations.each do |invite|%>
    <li><%=invite.user.name%></li>
  <%end%>
</ul>
Pending: <%= @dinner.pending_invitations.count %>
  <ul>
  <%@dinner.pending_invitations.each do |invite|%>
    <li><%=invite.user.name%></li>
  <%end%>
  </ul>
Attending: <%= @dinner.accepted_invitations.count %>
  <ul>
  <%@dinner.accepted_invitations.each do |invite|%>
    <li><%=invite.user.name%></li>
  <%end%>
  </ul>
