<h1><%= @dinner.name %></h1>
<p><%= @dinner.time%></p>
<p><%= @dinner.location%></p>
<p><%= @dinner.attire%></p>
<br>

<%= @dinner.courses.count %>
<br>
<%= @dinner.invites.count %>
<%= @dinner.invites.count.where(attending: false) %>
<%= @dinner.invites.count.where(attending: nil) %>
<%= @dinner.invites.count.where(attending: true) %>
