<h1><%= @dinner.name %></h1>
<p><%= @dinner.date.strftime("%A")%>, <%= @dinner.date.strftime("%B")%> <%= @dinner.date.strftime("%d")%> <%= @dinner.date.strftime("%Y")%></p>

<p><%= @dinner.location%></p>
<p><%= @dinner.attire%></p>
<br>

Courses: <%= @dinner.courses.count %>
<br>
Invites: <%= @dinner.invites.count %>
<br>
Declined: <%= @dinner.invites.where(accepted: false).count %>
<br>
Pending: <%= @dinner.invites.where(accepted: nil).count %>
<br>
Attending: <%= @dinner.invites.where(accepted: true).count %>
